#results {
  display: none;
}

body {
  background-image: url("../img/background.jpg");

}

h1 {
  font-size: 5em;
}
.jumbotron {
  text-align: center;
  background: #9CC649;
}

#form1 {
  background-color: white;
  padding: 20px;
}

#results {
  background-color: white;
  padding: 20px;
}

li {
  padding: 5px;
}
